*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
nav{
  background: #000000;
  height:78px ;
  width: 100%;
  line-height: 20px;
}
.logo{
  color: white;
  font-size: 35px;
  text-transform: uppercase;
  line-height: 50px;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 50px;
  margin: 20px 7px;
  font-size: 20px; 
  text-transform: capitalize;
}
nav ul li a{
  color:#264653;
  border-radius: 5px;
  padding: 5px 2px;
}
a.active,a:hover{
  background:#2a9d8f;
  transition: all .7s ease;
}
@media(max-width:850px){
  nav{display: block;}
  ul{
    position: fixed;
    top: 50px;
    left: 0;
    background:#355070;
    height: 100vh;
    width: 100%;
    transition: all .4s ease;
  }
ul a{
  position: relative;
  bottom:25px;
  color:#828d70 ;
}
}
@media(max-width:450px){
  ul{
    text-align: center;

  }
  nav ul li{
    display: block;
    margin:35px 0px;
    line-height: 10px;
    transition: all .4s ease;
  }
}